<div class="container">
  <h2 class="text-center my-4">Yearly Photo Gallery</h2>

  <!-- Folder View (2023, 2024, etc.) -->
    <!-- Folder View (2023, 2024, etc.) -->
  <div *ngIf="!showGallery">
    <div class="row text-center" id="folders">
      <div class="col-md-6 mb-4" (click)="loadImages('2022')">
        <div class="folder">
          <img src="assets/gallery/2022/img23.jpg" class="folder-img" alt="2022">
          <p class="folder-text">2022</p>
        </div>
      </div>
      <div class="col-md-6 mb-4" (click)="loadImages('2023')">
        <div class="folder">
          <img src="assets/gallery/2023/img10.JPG" class="folder-img" alt="2023">
          <p class="folder-text">2023</p>
        </div>
      </div>
      <div class="col-md-6 mb-4" (click)="loadImages('2024')">
        <div class="folder">
          <img src="assets/gallery/2024/img5.JPG" class="folder-img" alt="2024">
          <p class="folder-text">2024</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loader-overlay">
    <div class="spinner-border custom-color" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Gallery Section (This will only show when a folder is clicked) -->
  <div *ngIf="showGallery && !isLoading">
    <button class="btn btn-secondary mb-4" (click)="goBackToFolders()">Back to Folders</button>
    
    <div class="row mt-4">
      <div *ngFor="let image of selectedImages" class="col-md-4 mb-4">
        <div class="gallery-item">
          <img [src]="image.url" [alt]="image.description" class="img-fluid" loading="lazy">
          <div class="overlay">
            <span class="download-icon" (click)="downloadImage(image.url)">
              <i class="bi bi-download text-primary"></i>
            </span>
            <div class="description">{{ image.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No Images Message -->
  <!-- <div id="no-images-message" class="text-center" *ngIf="!selectedImages.length && !isLoading">
    <p>No images available for the selected year.</p>
  </div> -->
</div>
