<div class="person-info">
    <div class="text-and-image">
      <p>Some introduction text about the person. This could be their biography or general description.</p>
      <img src="assets/shiva_1.jpg" alt="Image 1" class="image-right" />
    </div>
  
    <div class="text-and-image">
      <p>More details about the person. This section will have some text followed by another image.</p>
      <img src="assets/shiva_1.jpg" alt="Image 2" class="image-left" />
    </div>
  
    <div class="text-and-image">
      <p>Another section of text explaining additional information about the person.</p>
      <img src="assets/gallery/mandaliImages/img1.JPG" alt="Image 3" class="image-right" />
    </div>
  
    <!-- Repeat as necessary for more sections -->
  </div>