/* 



.person-info {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .text-and-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;  
  }
  
  .text-and-image p {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin: 0;
  }
  
  .text-and-image img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 20px;
    transition: transform 0.3s ease; 
  }
  
  .text-and-image img.image-left {
    order: -1;
    margin-left: 0;
    margin-right: 20px;
  }
  
  .text-and-image img.image-right {
    margin-left: 20px;
  }
  

  @media (max-width: 768px) {
    .text-and-image {
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }
  
    .text-and-image p {
      text-align: center;
      margin-bottom: 10px; 
    }
  
    .text-and-image img {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px;
      max-width: 100%; 
  }
  
  } */

  .container img {
    max-width: 100%;
    height: auto;
  }
  h1, h3 {
    font-family: 'Arial', sans-serif;
  }
  p {
    font-size: 1rem;
    line-height: 1.6;
  }
  