<div class="flex">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/BasuDodakundi.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Basavaraj Dodakundi</b></h4>
          <h5><b>Leader</b></h5>
          <p>9448986263</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/Honugar.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Dhasimaya Honugar</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>7892545733</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/BasuPujari.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Basavaraj Pujari</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9916080983</p>
        </div>
      </div>
    </div>   
     
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/PargondSwakar.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Pargond swakar</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9448187176</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/RajuNashi.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Raju Nashi</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9449661892</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/BudaHajeri.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Narayansingh Hajeri</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9731896591</p>
        </div>
      </div>
    </div>
   
  </div>

  <!-- Second line images -->
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/MalluGadagi.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Mallikarjun Gadagi</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9743133866</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/Dhasalgouda.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Shankargouda R patil</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>7090330909</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/VinodDharshan.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinod Hiremath</b></h4>
          <h5><b>Co-Worker</b></h5>
          <p>9380224255</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/Gurulinga.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Gurulinga</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9972117416</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/BaluHajeri.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Narayansingh hajeri(Balu)</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>8123982783</p>
        </div>
      </div>
    </div>
   <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/nimbanna.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Nimbanna Nimbagav</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>8660412848</p>
        </div>
      </div>
    </div>  
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/SanguHajeri.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Sangu Hajeri(Mantap)</b></h4>
          <h5><b>Co-Worker</b></h5>
          <p>9945458295</p>
        </div>
      </div>
    </div> 
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
          <img class="curve-img" src="/assets/gallery/CommitteeLeadersPhoto/Anil.jpeg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Anilkumar Kengna.l</b></h4>
          <h5><b>Co-Worker</b></h5>
          <p>9343434367</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="name-list">
      <h2>Members of Committee</h2>
      <div class="scrolling-list">
        <ul>
          <li *ngFor="let name of names">{{ name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>