<div class="flex">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <p>9876543210</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <p>9876543210</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <p>9876543210</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <p>9876543210</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <p>9876543210</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <p>9876543210</p>
        </div>
      </div>
    </div>
  </div>
  
</div>