<div class="flex">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Basavaraj Dodakundi</b></h4>
          <h5><b>Leader</b></h5>
          <p>9876543210</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Dhasimaya Honugar</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>7892545733</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Mallikarjun Gadagi</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9743133866</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Nimbanna</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>8660412848</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Basavaraj Pujari</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>9916080983</p>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-2">
      <div class="card">
        <div style="padding: 10px;">
         <img class="curve-img" src="/assets/shiva_2.jpg" alt="Avatar">
        </div>
        <div class="container">
          <h4><b>Vinayak Dodakundi</b></h4>
          <h5><b>Co-Leader</b></h5>
          <p>8951398375</p>
        </div>
      </div>
    </div> -->
  </div>
  
</div>