
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f58220 !important; height: 90px;">

  <div class="container-fluid">
    <!-- Brand/Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" style="height: 75px;" class="me-2">
      <span >ಶ್ರೀ ಗಿರಿ ಮಲ್ಲಯ್ಯ ಭಕ್ತ ಮಂಡಳಿ</span>
    </a>

    <!-- Toggle Button for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a routerLink="/donation" routerLinkActive="active" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/gallery" routerLinkActive="active" class="nav-link">Gallery</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>