
<div class="background-container">

  <div class="content-text">
 
<div class="card-container">
  <div class="card">
    <img src="assets/icons/contact.png" alt="Contact" class="card-icon" />
    <h3>Contact</h3>
    <p>Get in touch with us for more information.</p>
  </div>

  <div class="card">
    <img src="assets/icons/about.png" alt="About" class="card-icon" />
    <h3>About</h3>
    <p>Learn more about our services and team.</p>
  </div>

  <div class="card">
    <img src="assets/icons/gallery.png" alt="Gallery" class="card-icon" />
    <h3>Gallery</h3>
    <p>Browse our collection of images and videos.</p>
  </div>
</div>
 


  
    
  </div>
  <!-- <div class="gallery-container">
    <div class="main-image-container">
      <img [src]="mainImage" alt="Main Image" class="main-image" />
    </div>
    <div class="thumbnail-container">
      <img *ngFor="let image of imageList" [src]="image" alt="Thumbnail" class="thumbnail"
        (mouseenter)="updateMainImage(image)" />
    </div>

  </div> -->
  <!-- <div class="year_gallery_container">
    <div class="card">
      <div class="image">
        <img src="assets/shiva_1.jpg" alt="images" />
      </div>
      <div class="content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, delectus?</p>
      </div>
      <div class="year">
        <h3>2023</h3>
      </div>
    </div>
  </div> -->
</div>